<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
	     <class name="dsalgo.testcases.ArraysTest"/>
	     <class name="dsalgo.testcases.GraphTest"/>
	     <class name="dsalgo.testcases.LinkedListTest"/>
	     <class name="dsalgo.testcases.TreeTest"/>
	     <class name="dsalgo.testcases.DataStructureTest"/>  
	     <class name="dsalgo.testcases.HomePageTest"/>
	      <class name="dsalgo.testcases.StackTest"/>
	      <class name="dsalgo.testcases.RegisterTest"/>
	      <class name="dsalgo.testcases.QueueTest"/>
	      <class name="dsalgo.testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
