<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestChrome">
    <classes>
      <class name="dsalgo.test.HomePageTest"/>
      <class name="dsalgo.test.LinkedListTest"/>
      <class name="dsalgo.test.ArraysTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
